@font-face {
  font-family: "Switzer-Variable";
  src: url("/extensions/police/fonts/Switzer-Variable.woff2") format("woff2"),
    url("/extensions/police/fonts/Switzer-Variable.woff") format("woff")
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Switzer-VariableItalic";
  src: url("/extensions/police/fonts/Switzer-VariableItalic.woff2")
      format("woff2"),
    url("/extensions/police/fonts/Switzer-VariableItalic.woff") format("woff")
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
}
