html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

html,
body {
  scroll-behavior: smooth;
}

button {
  background-color: transparent;
  border: none;
  font-size: inherit;
  cursor: crosshair;
  padding: 0;
}

button:hover {
  background-color: #000;
  color: #fff;
}

li {
  list-style: none;
}

a,
a:visited {
  color: #000;
}

hr {
  border: none;
  width: 100%;
  height: 1px;
  background-color: #000;
  margin: 1rem 0;
}

/* BROWSERS */

/* Works on Firefox */

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.1) transparent;
}

/* Works on Chrome, Edge, and Safari */

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 0px;
  border: none;
}
#presentation p {
  margin-bottom: 1rem;
}

/* #presentation p:nth-child(odd) {
  margin-left: -3rem;
}
#presentation p:nth-child(even) {
  margin-left: 3rem;
} */
:root {
  --space-m: 2rem;
  --space-s: calc(var(--space-m) / 2);
  --space-xs: calc(var(--space-s) / 2);
  --space-xxs: calc(var(--space-xs) / 2);
  --column-expand: 150%;
  --color-grey: #777;
}
.hide {
  display: none !important;
}

.active {
  background-color: #000;
  color: #fff;
  border-color: #fff;
}
* {
  font-family: "Switzer-Variable", sans-serif;
  font-weight: 300;
}

#site-header h1 {
  font-size: 1.5rem;
  margin-bottom: var(--space-xs);
}

#site-header h2 {
  font-size: 1.2rem;
}

main li {
  position: relative;
  margin-bottom: var(--space-s);
}

a {
  text-underline-offset: 0.25rem;
  text-decoration-thickness: 1px;
}

a:hover {
  text-decoration-style: dotted;
}

a:not([target]) {
  display: inline-block;
  margin-bottom: 0.3rem;
}

a[target]::after {
  content: " ⤴";
  white-space: nowrap;
}

a[target]::after {
  content: " ⤴";
  white-space: nowrap;
}

p {
  line-height: 1.4;
}

strong {
  font-weight: 500;
}

.details p,
p.details {
  margin-top: 0.2rem;
  padding: var(--space-xs);
  padding-right: 0;
  border-left: 1px dotted #000;
  font-size: 0.9rem;
  font-style: italic;
}

#text {
  position: absolute;
  z-index: 200;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

#text button#close {
  position: fixed;
  right: 2rem;
  top: 8rem;
  width: 2rem;
  height: 2rem;
}

#text button#close:hover .line {
  background-color: #fff;
}

#text button#close .line {
  display: block;
  width: 100%;
  height: 1px;
  background-color: #000;
}

#text button#close .line:first-child {
  transform: rotate(45deg);
}

#text button#close .line:last-child {
  transform: rotate(-45deg);
}

.text-wrapper {
  margin: 6rem 20rem;
}

.text-wrapper p {
  font-size: 1.2rem;
  word-spacing: 1.1;
  margin-bottom: var(--space-m);
  font-weight: 300;
}

blockquote {
  margin: 2rem;
  position: relative;
}

blockquote p {
  font-size: 1.5rem !important;
  color: var(--color-grey);
}

blockquote::before {
  content: "“";
  color: var(--color-grey);
  font-size: 2rem;
  position: absolute;
  top: 0;
  left: -1rem;
}

cite {
  display: block;
  margin-top: 1rem;
  font-size: 1.3rem;
}
#site-header {
  position: sticky;
  z-index: 800;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  height: 6rem;
}

.frame > * {
  padding: var(--space-s) var(--space-m);
}

.frame {
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
}

#site-header .frame {
  width: 100%;
  display: flex;
  align-items: center;
}

#site-header .frame:first-child {
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

#site-header .frame:last-child {
  border-right: 1px solid #000;
  justify-content: center;
  position: relative;
}

#site-header button {
  width: 100%;
  height: 100%;
}

.site-header--hidden {
  margin-top: -3.5rem;
}

#counter {
  justify-content: center;
}
#extensions {
  position: absolute;
  width: 100%;
  top: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-shadow: -1px 1px 0 0 black;
  padding: 0;
  max-height: 0;
  overflow: hidden;
}

#extensions.open {
  display: block;
  max-height: 100vh;
}

#extensions button {
  text-align: left;
  padding: 1rem 4rem;
}

#extensions-btn > span::after {
  display: inline-block;
  content: "↓";
  transform: translateY(-0.05rem);
  font-size: 1.1rem;
}

#extensions-btn.open > span::after {
  content: "↑";
}
main {
  display: flex;
  position: relative;
}

.section-header {
  position: sticky;
  z-index: 700;
  background-color: #fff;
  top: 0;
}

.section-header hr {
  margin-bottom: 0;
}

.column {
  z-index: 100;
  background-color: #fff;
  box-sizing: border-box;
  width: 100%;
  max-height: 3.5rem;
  overflow: hidden;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  box-shadow: -1px 0 0 0 black;
}

/* .column:hover, */

.column.open {
  width: var(--column-expand);
  max-height: calc(100vh - 6rem);
  overflow: auto;
}

button.toggle-column {
  width: 100%;
  height: 100%;
  padding: 0.9rem 1.5rem 0 1.5rem;
}

button.toggle-column > h2::after {
  display: inline-block;
  transform: translateY(-0.1rem);
  content: "↓";
  font-size: 1.3rem;
}

.column.open button.toggle-column > h2::after {
  content: "↑";
}

.list {
  padding: 1.5rem;
}
.open-modal {
  text-decoration: underline;
  text-underline-offset: 0.3rem;
  text-decoration-thickness: 1px;
}

.open-modal::after {
  content: " →";
}
#content {
  position: fixed;
  z-index: 0;
  top: 10rem;
  box-sizing: border-box;
  width: 100vw;
  min-width: 40rem;
  padding: 4rem 30% 4rem 30%;
  overflow: auto;
  height: calc(100% - 10rem);
}

#content h2 {
  font-size: 2.5rem;
  margin: var(--space-s) 0;
}

#content h3 {
  font-size: 2rem;
  margin: var(--space-m) 0 var(--space-s) 0;
}

#content p {
  font-size: 1.25rem;
  margin-bottom: var(--space-s);
}
#site-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1.5rem;
  padding: 0.5rem 0;
  border-top: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  z-index: 0;
}