.more {
  position: relative;
  border-bottom: 1px dotted #000;
  cursor: help;
}

.complement {
  position: absolute;
  z-index: 999;
  left: 50%;
  top: 2rem;
  padding: 1rem;
  border: 1px solid #000;
  width: 20rem;
  background-color: #fff;
}
button:hover .more {
  border-color: #fff;
}

.complement p {
  color: #000 !important;
  text-align: left;
}

.show-left .complement {
  left: -200%;
}
