html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

html,
body {
  scroll-behavior: smooth;
}

button {
  background-color: transparent;
  border: none;
  font-size: inherit;
  cursor: crosshair;
  padding: 0;
}

button:hover {
  background-color: #000;
  color: #fff;
}

li {
  list-style: none;
}
a,
a:visited {
  color: #000;
}

/* BROWSERS */

/* Works on Firefox */

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.1) transparent;
}

/* Works on Chrome, Edge, and Safari */

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 0px;
  border: none;
}
