* {
  font-family: "Switzer-Variable", sans-serif;
  font-weight: 300;
}

main li {
  position: relative;
  margin-bottom: var(--space-s);
}

a {
  text-underline-offset: 0.15rem;
  text-decoration-thickness: 1px;
}
a:hover {
  text-decoration-style: dotted;
}
a:not([target]) {
  display: inline-block;
  margin-bottom: 0.3rem;
}
a[target]::after {
  content: " ⤴";
  white-space: nowrap;
}
a[target]::after {
  content: " ⤴";
  white-space: nowrap;
}

p {
  line-height: 1.4;
}
strong {
  font-weight: 500;
}

.details p,
p.details {
  margin-top: 0.2rem;
  padding: var(--space-xs) 0 0 var(--space-xs);
  border-left: 1px dotted #000;
  font-size: 0.9rem;
  font-style: italic;
  line-height: 1.2;
}

#text {
  position: absolute;
  z-index: 200;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

#text button#close {
  position: fixed;
  right: 2rem;
  top: 8rem;
  width: 2rem;
  height: 2rem;
}

#text button#close:hover .line {
  background-color: #fff;
}

#text button#close .line {
  display: block;
  width: 100%;
  height: 1px;
  background-color: #000;
}
#text button#close .line:first-child {
  transform: rotate(45deg);
}
#text button#close .line:last-child {
  transform: rotate(-45deg);
}

.text-wrapper {
  margin: 6rem 20rem;
}

.text-wrapper p,
.text-wrapper li {
  font-size: 1.2rem;
  word-spacing: 1.1;
  margin-bottom: var(--space-m);
  font-weight: 300;
}

blockquote {
  margin: 2rem;
  position: relative;
}
blockquote p {
  font-size: 1.5rem !important;
}
blockquote::before {
  content: "“";
  font-size: 2rem;
  position: absolute;
  top: 0;
  left: -1rem;
}
cite {
  display: block;
  margin-top: 1rem;
  font-size: 1.3rem;
}

header *,
#content p {
  font-size: 1.25rem;
}

#content h2 {
  font-size: 3.5rem;
  margin: var(--space-s) 0;
}

#content h3 {
  font-size: 2rem;
  margin: 100px 0 var(--space-s) 0;
}

#content > p {
  margin-left: 2rem;
  margin-bottom: 25px;
}

#content strong {
  font-weight: 100;
  margin-bottom: 50px;
}

#content h4 {
  font-size: 1rem;
  line-height: 1.4;
  text-transform: uppercase;
  letter-spacing: 0.04rem;
}
