#site-header {
  position: sticky;
  z-index: 800;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  height: 6rem;
}

#site-title a {
  text-decoration: none;
}

.frame > * {
  padding: var(--space-s) var(--space-m);
}

.frame {
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
}

#site-header .frame {
  width: 100%;
  display: flex;
  align-items: center;
}
#site-header .frame:first-child {
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
#site-header .frame:last-child {
  border-right: 1px solid #000;
  justify-content: center;
  position: relative;
}

#site-header button {
  width: 100%;
  height: 100%;
}

.site-header--hidden {
  margin-top: -3.5rem;
}

#counter {
  justify-content: center;
}
