#extensions {
  position: absolute;
  width: 100%;
  top: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-shadow: -1px 1px 0 0 black;
  padding: 0;
  max-height: 0;
  overflow: hidden;
}

#extensions.open {
  display: block;
  max-height: 100vh;
}

#extensions button {
  text-align: left;
  padding: 1rem 4rem;
}
#extensions button,
.extension-weight {
  font-size: 1rem;
}
#extensions-btn > span::after {
  display: inline-block;
  content: "+";
  transform: translateY(-0.05rem);
  font-size: 1.1rem;
}
#extensions-btn.open > span::after {
  content: "-";
}
