main {
  display: flex;
  position: relative;
}

.section-header {
  position: sticky;
  z-index: 700;
  background-color: #fff;
  top: 0;
}
.section-header hr {
  margin-bottom: 0;
}

#columns {
  display: flex;
}

.column {
  z-index: 100;
  background-color: #fff;
  box-sizing: border-box;
  width: 100%;
  max-height: 3.32rem;
  overflow: hidden;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  box-shadow: -1px 0 0 0 black;
}

/* .column:hover, */
.column.open {
  width: var(--column-expand);
  max-height: calc(100vh - 6rem);
  overflow: auto;
}

button.toggle-column {
  width: 100%;
  height: 100%;
}

button.toggle-column h2 {
  padding: 1.1rem 1.5rem 0 1.5rem;
}

button.toggle-column > h2::after {
  display: inline-block;
  transform: translateY(-0.1rem);
  content: "+";
  font-size: 1.3rem;
}
.column.open button.toggle-column > h2::after {
  content: "-";
}

.column hr {
  border: none;
  width: 100%;
  height: 1px;
  background-color: #000;
  margin-top: 0.8rem;
}

.list {
  padding: 1.5rem;
}

.list p {
  font-size: 1rem;
}

.list li {
  margin-bottom: 1.7rem;
}
