#content {
  position: fixed;
  z-index: 0;
  top: 10rem;
  box-sizing: border-box;
  width: 100vw;
  min-width: 40rem;
  padding: 2rem 30% 4rem 30%;
  overflow: auto;
  height: calc(100% - 10rem);
}
