#site-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1.5rem;
  padding: 0.5rem 0;
  border-top: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  z-index: 0;
}
